---
const personalImageAlt = "Germán Álvarez"

---

<article
  class="text-justify flex flex-col items-center justify-center gap-8 text-gray-800 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold text-xl order-2 md:order-1"
  >
    <p>
      Me llamo Germán Álvarez, tengo 29 años y vivo en Madrid. 
      <strong>Apasionado por aprender y crear soluciones tecnológicas</strong>, combino mis proyectos de desarrollo con mis aficiones como <strong>deporte, viajar y explorar nuevas herramientas</strong>. 
      Disfruto trabajando en equipo y compartiendo ideas, aportando <strong>creatividad, proactividad y buenas habilidades de comunicación</strong>.
    </p>

    <p>
      He participado en proyectos como un <strong>ERP de ventas con autenticación JWT</strong>, una <strong>app híbrida para microemprendimientos</strong>, una <strong>plataforma eCommerce</strong> y una <strong>SPA para consulta de datos de países</strong>. Actualmente estoy explorando <strong>microservicios con NestJS y Docker</strong> y <strong>cursando Arquitecto de Soluciones AWS</strong> para ampliar mis competencias en la nube.
    </p>

    <p>
      Mi objetivo es seguir creciendo como desarrollador, crear <strong>soluciones accesibles, escalables e innovadoras</strong> y mantener un enfoque humano en la tecnología.
    </p>
  </div>

  <img
    src="/projects/foto_mapamundo.PNG"
    alt="Imagen representativa de Germán Álvarez"
    class="order-1 md:order-2 object-cover w-64 h-full p-1 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>





