---
const personalImageAlt = "Germán Álvarez"

---

<article
  class="text-justify flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Germán Álvarez, tengo 29 años y vivo en Madrid. Desde que descubrí el desarrollo de software, he estado formándome y creando proyectos reales. Actualmente <strong>
        me enfoco en mejorar mis habilidades como desarrollador Full Stack</strong>, combinando <strong>frontend y backend</strong> para ofrecer soluciones completas.
    </p>

    <p>
      Entre mis logros destaco <strong>
        el desarrollo de un ERP completo para la gestión de ventas</strong>, utilizando <strong>Angular, Node.js, Sequelize y PostgreSQL</strong>. 
      Este proyecto incluyó <strong>autenticación JWT, control de roles, generación de PDFs y despliegue en Render y Firebase</strong>, aplicando metodologías ágiles.
    </p>

    <p>
      Titulado en <strong>Desarrollo de Aplicaciones Multiplataforma</strong> y apasionado por el aprendizaje continuo, he trabajado con <strong>Spring Boot, Ionic, Firebase y MongoDB</strong>.
      Como parte de mi TFG, desarrollé <strong>una app híbrida multiplataforma para microemprendimientos</strong>. 
      Mi objetivo es seguir creciendo como desarrollador Full Stack y crear <strong>soluciones accesibles, escalables e innovadoras</strong>.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/projects/foto_mapamundo.PNG"
    alt="Imagen representativa de Germán Álvarez"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>


