---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Febrero 2024 - Junio 2024",
    title: "Desarrollador Full Stack (Prácticas)",
    company: "Adviser Cloud",
    description:
      "Colaboración en proyectos con clientes reales aplicando metodologías ágiles (Scrum, Kanban). Desarrollo de aplicaciones web e híbridas con Angular, Ionic y Node.js. Integración de agentes de IA mediante N8N y conexión con APIs REST. Gestión de bases de datos relacionales (MySQL, PostgreSQL) y NoSQL (MongoDB, Firebase). Uso de Git para control de versiones y despliegue en entornos cloud.",
  },
  {
    date: "Septiembre 2020 - Actualidad",
    title: "Monitor Multidisciplinar",
    company: "VIVAGYM",
    description:
      "Diseño y liderazgo de sesiones grupales orientadas a la mejora del bienestar. Gestión de clientes y organización mediante CRM. Desarrollo de habilidades en comunicación, trabajo en equipo y orientación a objetivos.",
  }
];

---

<ol class=" relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
