---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Febrero 24- Junio 24",
    title: "Desarrollador Full Stack (prácticas)",
    company: "Adviser Cloud",
    description:
      "Participación en la gestión de proyectos con clientes reales,aplicando metodologías ágiles (Scrum y Kanban) en entornosempresariales.Desarrollo de aplicaciones web e híbridas con Angular, Ionic yNode.js, integrando agentes de inteligencia artificial medianteN8N. Trabajo con múltiples bases de datos: relacionales (MySQL,PostgreSQL) y no relacionales (MongoDB, Firebase).",

  },
  {
    date: "Septiembre 20 - actualmente",
    title: "Monitor multidisciplinar",
    company: "VIVAGYM",
    description:
      "Diseño y liderazgo de sesiones grupales de entrenamiento funcional para mejorar la salud y el bienestar de los participantes. Gestión de clientes con uso de CRM.",
  },  
  {
  date: "Diciembre 2012 - Noviembre 2019",
  title: "Dependiente de tienda",
  company: "Cima Sports",
  description:
    "Atención al cliente y asesoramiento especializado en la venta de material técnico deportivo. Gestión de stock, organización de producto en tienda y experiencia directa en trato comercial personalizado."
}
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
