---
const personalImageAlt = "Germán Álvarez"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/projects/german.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/germanalvarezgonzalez"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>

  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
    Hey, soy Germán Álvarez
  </h1>

  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    Desarrollador de software. <strong>
    Apasionado por crear soluciones web y móviles usando Angular, Node.js, Ionic, Spring Boot y Firebase</strong>. He desarrollado proyectos reales como un ERP de ventas y una app híbrida para microemprendimientos, integrando tecnologías modernas y desplegándolos en Render y Firebase.
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:geralvarez95@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/germanalvarezgonzalez">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="/public/German Alvarez - CV_ JUN_25.pdf" download>
  <LinkedInIcon class="size-4" />
  Descargar CV
</SocialPill>
  </nav>
</div>
